<div class="container jumbotron">
	<div class="p-5 mb-4 rounded-3">
		<div class="container-fluid  py-5">
			<h1 class="display-5 fw-bold  text-light text-center">Blog Application</h1>
			<p class="fs-4 text-light text-center">This is a simple blog application developed as part of the Ruby on Rails Udemy course</p>
		</div>
	</div>
</div>
