<footer class="footer mt-auto py-3 bg-dark">
  <div class="container text-center">
    <span class="text-muted">Made with ❤️ by <%= link_to "Stefon Miller", "https://github.com/stefonmiller", class: "text-white text-decoration-none"%></span>
		
  </div>
</footer>