/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";

.nav-link {
	font-size: large !important;
}

.form-control-dark {
	font-size: large !important;
}

.btn {
	font-size: large !important;
}

.display-5 {
	font-size: 6em !important;
}

.fs-14 {
	font-size: 8em !important;
}

.navbar {
	border-bottom: 1px solid white !important;
}

.footer {
	border-top: 1px solid white !important;
}

.nav-drop-item:hover {
	background-color: $gray-100;
}

.jumbotron {
	background-image: asset-url('blog-bg.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 600px;
	width: 1920px;
}

body {
	padding-top: 3% !important;
}

.dropdown-toggle {
	border:0;
}

.dropdown-menu {
	background-color: $gray-800;
}

.dropdown-item:hover {
	color:black;
}

.card {
	margin-top: 2rem;
	margin-bottom: 2rem;
	background-color: $gray-800 !important;
}

.btn-outline-primary {
	color: $indigo-400 !important;
	border-color: $indigo-400 !important;
	margin-left: 1rem !important;
	margin-right: 1rem !important;
}

.btn-outline-primary:hover {
	background-color: $indigo-400 !important;
	color: white !important;
}

.shadow {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12) !important;
}

.article-link {
	color: $indigo-400 !important;
}

.article-link:hover {
	text-decoration: underline !important;
}

.card-footer {
	margin-top: 2rem;
}

.card-header {
	margin-bottom: 2rem;
}

.create-button {
	font-size: 48px !important;
	margin-top: 2rem !important;
	margin-bottom: 2rem !important;
}

.form-control {
	background-color: $gray-800;
	border-color: black;
	color: white;
}

.form-control:focus {
	background-color: $gray-800;
	border-color: black;
	color: white;
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12) !important;
}

.form-group {
	margin: 2rem;
}

.info-form {
	border: 3px solid black !important;
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12) !important;

	border-radius: 15px;
	margin-top: 4rem;
	margin-bottom: 8rem;
}

.return-link {
	color: $indigo-400 !important;
}

.return-link:hover {
	text-decoration: underline !important;
}

.nav-button {
	overflow: auto;
  white-space: nowrap;
}
.articles-count {
	font-size: 1.4rem;
}

.drop-log-button {
	background-color: transparent !important;
	border: 0 !important;
	color: white !important;
}

.drop-log-button:hover {
	text-decoration:underline;
}

.flickr_pagination {
  text-align: center;
	font-size: 1.4rem;
  padding: 0.3em;
  cursor: default; }
  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em; 
		border-radius: 5px;
	}
  .flickr_pagination .disabled {
    color: #aaaaaa; }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #aaaaaa; }
  .flickr_pagination a {
    color: white;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      background: $gray-800;
      color: white; }
  .flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .previous_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }

li.drop-log-button:last-child .dropdown-menu {
	right: 0;
	left: auto;
}